body {
    height:  220px;
    width: 500px;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}

.styledimg {
    background-image: url(/assets/images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    width: 900px;
    height: 600px;
    }

.colonge1 {
    font-size: 20px;
    color: darkslategrey;
}